In [ ]:
#IMPORTING THE REQUIRED LIBRARIES

In [ ]:
!pip install pymongo

In [1]:
from pymongo import MongoClient

In [2]:
from pprint import pprint

In [3]:
#CONNECTING WITH MONGODB ATLAS

In [4]:
client = MongoClient("mongodb+srv://SP:qwerty1234567@cluster0.pkydwjc.mongodb.net/?retryWrites=true&w=majority")

In [5]:
#CHECKING DATABASE NAMES

In [6]:
client.list_database_names()

['Task', 'Tast', 'admin', 'local']

In [7]:
#CREATING COLLECTIONS

In [8]:
db=client['Task']

In [9]:
my_collection = db["Telephone"]

In [10]:
#INSERTING ONE DATA IN THE COLLECTION

In [11]:
my_collection.insert_one({"Name" : "Vishnu" , "Phno" : 12458, "Place" : "tup"})

In [12]:
#INSERTING A SET OF DATA IN THE COLLECTION

In [13]:
data = [{"Name" : "shiv" , "Phno" : 124589, "Place" : "tri"},
        {"Name" : "Nav" , "Phno" : 549984, "Place" : "kot"},
        {"Name" : "Arun" , "Phno" : 548448, "Place" : "tup"},
        {"Name" : "Anand" , "Phno" : 353556, "Place" : "tup"},
        {"Name" : "Swag" , "Phno" : 561648, "Place" : "kan"},
        {"Name" : "Vino" , "Phno" : 138454, "Place" : "tup"}
]

In [14]:
my_collection.insert_many(data)

In [15]:
for i in my_collection.find():
    pprint(i)

{'Name': 'Nav',
 'Phno': 549984,
 'Place': 'kot',
 '_id': ObjectId('63b5a33f28ef59620df88eca')}
{'Name': 'Arun',
 'Phno': 548448,
 'Place': 'koc',
 '_id': ObjectId('63b5a33f28ef59620df88ecb')}
{'Name': 'Anand',
 'Phno': 353556,
 'Place': 'plag',
 '_id': ObjectId('63b5a33f28ef59620df88ecc')}
{'Name': 'Swag',
 'Phno': 561648,
 'Place': 'kan',
 '_id': ObjectId('63b5a33f28ef59620df88ecd')}
{'Name': 'Vino',
 'Phno': 138454,
 'Place': 'plag',
 '_id': ObjectId('63b5a33f28ef59620df88ece')}
{'Name': 'shiv',
 'Phno': 124589,
 'Place': 'tri',
 '_id': ObjectId('63b5a41028ef59620df88ecf')}
{'Name': 'Nav',
 'Phno': 549984,
 'Place': 'kot',
 '_id': ObjectId('63b5a41028ef59620df88ed0')}
{'Name': 'Arun',
 'Phno': 548448,
 'Place': 'koc',
 '_id': ObjectId('63b5a41028ef59620df88ed1')}
{'Name': 'Anand',
 'Phno': 353556,
 'Place': 'plag',
 '_id': ObjectId('63b5a41028ef59620df88ed2')}
{'Name': 'Swag',
 'Phno': 561648,
 'Place': 'kan',
 '_id': ObjectId('63b5a41028ef59620df88ed3')}
{'Name': 'Vino',
 'Phno': 138454,
 'Place': 'plag',
 '_id': ObjectId('63b5a41028ef59620df88ed4')}
{'Name': 'shiv',
 'Phno': 124589,
 'Place': 'tri',
 '_id': ObjectId('63b5a66a28ef59620df88ed5')}
{'Name': 'Nav',
 'Phno': 549984,
 'Place': 'kot',
 '_id': ObjectId('63b5a66a28ef59620df88ed6')}
{'Name': 'Swag',
 'Phno': 561648,
 'Place': 'kan',
 '_id': ObjectId('63b5a66a28ef59620df88ed9')}
{'Name': 'Vishnu',
 'Phno': 12458,
 'Place': 'tup',
 '_id': ObjectId('63b5aefcfdae93049f574fa1')}
{'Name': 'shiv',
 'Phno': 124589,
 'Place': 'tri',
 '_id': ObjectId('63b5aefdfdae93049f574fa2')}
{'Name': 'Nav',
 'Phno': 549984,
 'Place': 'kot',
 '_id': ObjectId('63b5aefdfdae93049f574fa3')}
{'Name': 'Arun',
 'Phno': 548448,
 'Place': 'tup',
 '_id': ObjectId('63b5aefdfdae93049f574fa4')}
{'Name': 'Anand',
 'Phno': 353556,
 'Place': 'tup',
 '_id': ObjectId('63b5aefdfdae93049f574fa5')}
{'Name': 'Swag',
 'Phno': 561648,
 'Place': 'kan',
 '_id': ObjectId('63b5aefdfdae93049f574fa6')}
{'Name': 'Vino',
 'Phno': 138454,
 'Place': 'tup',
 '_id': ObjectId('63b5aefdfdae93049f574fa7')}

In [16]:
db.list_collection_names()

['avg_type', 'Student', 'avgtype', 'sumtype', 'Telephone']

In [17]:
#Update_ONE --- Updating the dataset with the place whose Name is Vishnu

In [18]:
Q = {"Name":"Vishnu"}
New = {"$set":{"Place": "Banglore"}}

In [19]:
my_collection.update_one(Q,New)

In [20]:
for i in my_collection.find():
    pprint(i)

{'Name': 'Nav',
 'Phno': 549984,
 'Place': 'kot',
 '_id': ObjectId('63b5a33f28ef59620df88eca')}
{'Name': 'Arun',
 'Phno': 548448,
 'Place': 'koc',
 '_id': ObjectId('63b5a33f28ef59620df88ecb')}
{'Name': 'Anand',
 'Phno': 353556,
 'Place': 'plag',
 '_id': ObjectId('63b5a33f28ef59620df88ecc')}
{'Name': 'Swag',
 'Phno': 561648,
 'Place': 'kan',
 '_id': ObjectId('63b5a33f28ef59620df88ecd')}
{'Name': 'Vino',
 'Phno': 138454,
 'Place': 'plag',
 '_id': ObjectId('63b5a33f28ef59620df88ece')}
{'Name': 'shiv',
 'Phno': 124589,
 'Place': 'tri',
 '_id': ObjectId('63b5a41028ef59620df88ecf')}
{'Name': 'Nav',
 'Phno': 549984,
 'Place': 'kot',
 '_id': ObjectId('63b5a41028ef59620df88ed0')}
{'Name': 'Arun',
 'Phno': 548448,
 'Place': 'koc',
 '_id': ObjectId('63b5a41028ef59620df88ed1')}
{'Name': 'Anand',
 'Phno': 353556,
 'Place': 'plag',
 '_id': ObjectId('63b5a41028ef59620df88ed2')}
{'Name': 'Swag',
 'Phno': 561648,
 'Place': 'kan',
 '_id': ObjectId('63b5a41028ef59620df88ed3')}
{'Name': 'Vino',
 'Phno': 138454,
 'Place': 'plag',
 '_id': ObjectId('63b5a41028ef59620df88ed4')}
{'Name': 'shiv',
 'Phno': 124589,
 'Place': 'tri',
 '_id': ObjectId('63b5a66a28ef59620df88ed5')}
{'Name': 'Nav',
 'Phno': 549984,
 'Place': 'kot',
 '_id': ObjectId('63b5a66a28ef59620df88ed6')}
{'Name': 'Swag',
 'Phno': 561648,
 'Place': 'kan',
 '_id': ObjectId('63b5a66a28ef59620df88ed9')}
{'Name': 'Vishnu',
 'Phno': 12458,
 'Place': 'Banglore',
 '_id': ObjectId('63b5aefcfdae93049f574fa1')}
{'Name': 'shiv',
 'Phno': 124589,
 'Place': 'tri',
 '_id': ObjectId('63b5aefdfdae93049f574fa2')}
{'Name': 'Nav',
 'Phno': 549984,
 'Place': 'kot',
 '_id': ObjectId('63b5aefdfdae93049f574fa3')}
{'Name': 'Arun',
 'Phno': 548448,
 'Place': 'tup',
 '_id': ObjectId('63b5aefdfdae93049f574fa4')}
{'Name': 'Anand',
 'Phno': 353556,
 'Place': 'tup',
 '_id': ObjectId('63b5aefdfdae93049f574fa5')}
{'Name': 'Swag',
 'Phno': 561648,
 'Place': 'kan',
 '_id': ObjectId('63b5aefdfdae93049f574fa6')}
{'Name': 'Vino',
 'Phno': 138454,
 'Place': 'tup',
 '_id': ObjectId('63b5aefdfdae93049f574fa7')}

In [21]:
for i in my_collection.find({"Name" : "Vishnu"}):
    pprint(i)

{'Name': 'Vishnu',
 'Phno': 12458,
 'Place': 'Banglore',
 '_id': ObjectId('63b5aefcfdae93049f574fa1')}

In [22]:
#Update_many --- Updating the dataset with the phone number whose place is tup

In [23]:
Q = {"Place" : "tup"}
New = {"$set":{"Phno": 123654789}}

In [24]:
my_collection.update_many(Q,New)

In [25]:
for i in my_collection.find():
    pprint(i)

{'Name': 'Nav',
 'Phno': 549984,
 'Place': 'kot',
 '_id': ObjectId('63b5a33f28ef59620df88eca')}
{'Name': 'Arun',
 'Phno': 548448,
 'Place': 'koc',
 '_id': ObjectId('63b5a33f28ef59620df88ecb')}
{'Name': 'Anand',
 'Phno': 353556,
 'Place': 'plag',
 '_id': ObjectId('63b5a33f28ef59620df88ecc')}
{'Name': 'Swag',
 'Phno': 561648,
 'Place': 'kan',
 '_id': ObjectId('63b5a33f28ef59620df88ecd')}
{'Name': 'Vino',
 'Phno': 138454,
 'Place': 'plag',
 '_id': ObjectId('63b5a33f28ef59620df88ece')}
{'Name': 'shiv',
 'Phno': 124589,
 'Place': 'tri',
 '_id': ObjectId('63b5a41028ef59620df88ecf')}
{'Name': 'Nav',
 'Phno': 549984,
 'Place': 'kot',
 '_id': ObjectId('63b5a41028ef59620df88ed0')}
{'Name': 'Arun',
 'Phno': 548448,
 'Place': 'koc',
 '_id': ObjectId('63b5a41028ef59620df88ed1')}
{'Name': 'Anand',
 'Phno': 353556,
 'Place': 'plag',
 '_id': ObjectId('63b5a41028ef59620df88ed2')}
{'Name': 'Swag',
 'Phno': 561648,
 'Place': 'kan',
 '_id': ObjectId('63b5a41028ef59620df88ed3')}
{'Name': 'Vino',
 'Phno': 138454,
 'Place': 'plag',
 '_id': ObjectId('63b5a41028ef59620df88ed4')}
{'Name': 'shiv',
 'Phno': 124589,
 'Place': 'tri',
 '_id': ObjectId('63b5a66a28ef59620df88ed5')}
{'Name': 'Nav',
 'Phno': 549984,
 'Place': 'kot',
 '_id': ObjectId('63b5a66a28ef59620df88ed6')}
{'Name': 'Swag',
 'Phno': 561648,
 'Place': 'kan',
 '_id': ObjectId('63b5a66a28ef59620df88ed9')}
{'Name': 'Vishnu',
 'Phno': 12458,
 'Place': 'Banglore',
 '_id': ObjectId('63b5aefcfdae93049f574fa1')}
{'Name': 'shiv',
 'Phno': 124589,
 'Place': 'tri',
 '_id': ObjectId('63b5aefdfdae93049f574fa2')}
{'Name': 'Nav',
 'Phno': 549984,
 'Place': 'kot',
 '_id': ObjectId('63b5aefdfdae93049f574fa3')}
{'Name': 'Arun',
 'Phno': 123654789,
 'Place': 'tup',
 '_id': ObjectId('63b5aefdfdae93049f574fa4')}
{'Name': 'Anand',
 'Phno': 123654789,
 'Place': 'tup',
 '_id': ObjectId('63b5aefdfdae93049f574fa5')}
{'Name': 'Swag',
 'Phno': 561648,
 'Place': 'kan',
 '_id': ObjectId('63b5aefdfdae93049f574fa6')}
{'Name': 'Vino',
 'Phno': 123654789,
 'Place': 'tup',
 '_id': ObjectId('63b5aefdfdae93049f574fa7')}

In [26]:
#Delete_ONE -- Deleting the data having NAME Vishnu

In [27]:
my_collection.delete_one({"Name" : "Vishnu"})

In [28]:
for i in my_collection.find():
    pprint(i)

{'Name': 'Nav',
 'Phno': 549984,
 'Place': 'kot',
 '_id': ObjectId('63b5a33f28ef59620df88eca')}
{'Name': 'Arun',
 'Phno': 548448,
 'Place': 'koc',
 '_id': ObjectId('63b5a33f28ef59620df88ecb')}
{'Name': 'Anand',
 'Phno': 353556,
 'Place': 'plag',
 '_id': ObjectId('63b5a33f28ef59620df88ecc')}
{'Name': 'Swag',
 'Phno': 561648,
 'Place': 'kan',
 '_id': ObjectId('63b5a33f28ef59620df88ecd')}
{'Name': 'Vino',
 'Phno': 138454,
 'Place': 'plag',
 '_id': ObjectId('63b5a33f28ef59620df88ece')}
{'Name': 'shiv',
 'Phno': 124589,
 'Place': 'tri',
 '_id': ObjectId('63b5a41028ef59620df88ecf')}
{'Name': 'Nav',
 'Phno': 549984,
 'Place': 'kot',
 '_id': ObjectId('63b5a41028ef59620df88ed0')}
{'Name': 'Arun',
 'Phno': 548448,
 'Place': 'koc',
 '_id': ObjectId('63b5a41028ef59620df88ed1')}
{'Name': 'Anand',
 'Phno': 353556,
 'Place': 'plag',
 '_id': ObjectId('63b5a41028ef59620df88ed2')}
{'Name': 'Swag',
 'Phno': 561648,
 'Place': 'kan',
 '_id': ObjectId('63b5a41028ef59620df88ed3')}
{'Name': 'Vino',
 'Phno': 138454,
 'Place': 'plag',
 '_id': ObjectId('63b5a41028ef59620df88ed4')}
{'Name': 'shiv',
 'Phno': 124589,
 'Place': 'tri',
 '_id': ObjectId('63b5a66a28ef59620df88ed5')}
{'Name': 'Nav',
 'Phno': 549984,
 'Place': 'kot',
 '_id': ObjectId('63b5a66a28ef59620df88ed6')}
{'Name': 'Swag',
 'Phno': 561648,
 'Place': 'kan',
 '_id': ObjectId('63b5a66a28ef59620df88ed9')}
{'Name': 'shiv',
 'Phno': 124589,
 'Place': 'tri',
 '_id': ObjectId('63b5aefdfdae93049f574fa2')}
{'Name': 'Nav',
 'Phno': 549984,
 'Place': 'kot',
 '_id': ObjectId('63b5aefdfdae93049f574fa3')}
{'Name': 'Arun',
 'Phno': 123654789,
 'Place': 'tup',
 '_id': ObjectId('63b5aefdfdae93049f574fa4')}
{'Name': 'Anand',
 'Phno': 123654789,
 'Place': 'tup',
 '_id': ObjectId('63b5aefdfdae93049f574fa5')}
{'Name': 'Swag',
 'Phno': 561648,
 'Place': 'kan',
 '_id': ObjectId('63b5aefdfdae93049f574fa6')}
{'Name': 'Vino',
 'Phno': 123654789,
 'Place': 'tup',
 '_id': ObjectId('63b5aefdfdae93049f574fa7')}

In [29]:
#Delete_Many -- Deleting the data having place TUP

In [30]:
my_collection.delete_many({"Place":"tup"})

In [31]:
for i in my_collection.find():
    pprint(i)

{'Name': 'Nav',
 'Phno': 549984,
 'Place': 'kot',
 '_id': ObjectId('63b5a33f28ef59620df88eca')}
{'Name': 'Arun',
 'Phno': 548448,
 'Place': 'koc',
 '_id': ObjectId('63b5a33f28ef59620df88ecb')}
{'Name': 'Anand',
 'Phno': 353556,
 'Place': 'plag',
 '_id': ObjectId('63b5a33f28ef59620df88ecc')}
{'Name': 'Swag',
 'Phno': 561648,
 'Place': 'kan',
 '_id': ObjectId('63b5a33f28ef59620df88ecd')}
{'Name': 'Vino',
 'Phno': 138454,
 'Place': 'plag',
 '_id': ObjectId('63b5a33f28ef59620df88ece')}
{'Name': 'shiv',
 'Phno': 124589,
 'Place': 'tri',
 '_id': ObjectId('63b5a41028ef59620df88ecf')}
{'Name': 'Nav',
 'Phno': 549984,
 'Place': 'kot',
 '_id': ObjectId('63b5a41028ef59620df88ed0')}
{'Name': 'Arun',
 'Phno': 548448,
 'Place': 'koc',
 '_id': ObjectId('63b5a41028ef59620df88ed1')}
{'Name': 'Anand',
 'Phno': 353556,
 'Place': 'plag',
 '_id': ObjectId('63b5a41028ef59620df88ed2')}
{'Name': 'Swag',
 'Phno': 561648,
 'Place': 'kan',
 '_id': ObjectId('63b5a41028ef59620df88ed3')}
{'Name': 'Vino',
 'Phno': 138454,
 'Place': 'plag',
 '_id': ObjectId('63b5a41028ef59620df88ed4')}
{'Name': 'shiv',
 'Phno': 124589,
 'Place': 'tri',
 '_id': ObjectId('63b5a66a28ef59620df88ed5')}
{'Name': 'Nav',
 'Phno': 549984,
 'Place': 'kot',
 '_id': ObjectId('63b5a66a28ef59620df88ed6')}
{'Name': 'Swag',
 'Phno': 561648,
 'Place': 'kan',
 '_id': ObjectId('63b5a66a28ef59620df88ed9')}
{'Name': 'shiv',
 'Phno': 124589,
 'Place': 'tri',
 '_id': ObjectId('63b5aefdfdae93049f574fa2')}
{'Name': 'Nav',
 'Phno': 549984,
 'Place': 'kot',
 '_id': ObjectId('63b5aefdfdae93049f574fa3')}
{'Name': 'Swag',
 'Phno': 561648,
 'Place': 'kan',
 '_id': ObjectId('63b5aefdfdae93049f574fa6')}